.about {
    flex-direction: column !important;
    margin-top: 3em !important;
  }
  
  .about__name {
    color: var(--clr-primary);
  }
  
  .about__role {
    margin-top: 1.2em !important;
  }
  
  .about__desc {
    font-size: 1rem !important;
    max-width: 600px !important;
  }
  
  .about__desc,
  .about__contact {
    margin-top: 2.4em !important;
  }
  
  .about .link--icon {
    margin-right: 0.8em !important;
  }
  
  .about .btn--outline {
    margin-right: 1em !important;
  }
  
  @media (max-width: 600px) {
    .app .about {
      align-items: flex-start !important;
      margin-top: 2em !important;
    }
  }

  * {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    background-color: inherit !important;
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    box-shadow: none !important; 
    box-sizing: border-box !important;
  }
  
  html {
    scroll-behavior: smooth !important;
  }
  
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2 !important;
    color: var(--clr-fg-alt);
  }
  
  h1 {
    font-size: 4rem !important;
  }
  
  h2 {
    font-size: 2rem !important;
  }
  
  h3 {
    font-size: 1.5rem !important;
  }
  
  h4 {
    font-size: 1.3rem !important;
  }
  
  ul {
    list-style-type: none !important;
  }
  
  a {
    text-decoration: none !important;
  }
  
  button {
    cursor: pointer !important;
  }
  
  @media (max-width: 900px) {
    h1 {
      font-size: 2.6rem !important;
    }
  }

  app {
    font-family: 'Poppins', sans-serif !important;
    line-height: 1.5 !important;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
  }
  
  .light {
    --clr-bg: #fcfcfc !important;
    --clr-bg-alt: #fff !important;
    --clr-fg: #555 !important;
    --clr-fg-alt: #444 !important;
    --clr-primary: #2978b5 !important;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  }
  
  .dark {
    --clr-bg: #23283e !important;
    --clr-bg-alt: #2a2f4c !important;
    --clr-fg: #bdbddd !important;
    --clr-fg-alt: #cdcdff !important;
    --clr-primary: #90a0d9 !important;
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  }
  
  main {
    max-width: 1100px !important;
    width: 95% !important;
    margin: 0 auto !important;
  }
  
  .section {
    margin-top: 5em !important;
  }
  
  .section__title {
    text-align: center !important;
    margin-bottom: 1em !important;
    text-transform: uppercase !important;
  }
  
  .center {
    display: flex !important;
    align-items: center !important;
  }
  
  .link {
    color: var(--clr-primary);
    padding: 0 0 0.3em 0 !important;
    position: relative !important;
  }
  
  .link:hover {
    color: var(--clr-primary);
  }
  
  .link::before {
    content: '' !important;
    display: inline !important;
    width: 0% !important;
    height: 0.2em !important;
    position: absolute !important;
    bottom: 0 !important;
    background-color: var(--clr-primary);
    transition: width 0.2s ease-in !important;
  }
  
  .link:hover::before,
  .link:focus::before {
    width: 100% !important;
  }
  
  .link--nav {
    color: var(--clr-fg);
    text-transform: lowercase !important;
    font-weight: 500 !important;
  }
  
  .link--icon {
    color: var(--clr-fg);
  }
  
  .btn {
    display: block !important;
    cursor: pointer !important;
    padding: 0.8em 1.4em !important;
    font-weight: 500 !important;
    font-size: 0.9rem !important;
    text-transform: lowercase !important;
    transition: transform 0.2s ease-in-out !important;
  }
  
  .btn--outline {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    position: relative !important;
    overflow: hidden !important;
    z-index: 1 !important;
  }
  
  .btn--outline:hover,
  .btn--outline:focus {
    color: var(--clr-bg);
  }
  
  .btn--outline:before {
    content: '' !important;
    position: absolute !important;
    background-color: var(--clr-primary);
    right: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    top: 0 !important;
    z-index: -1 !important;
    transition: right 0.2s ease-in-out !important;
  }
  
  .btn--outline:hover:before,
  .btn--outline:focus:before {
    right: 0 !important;
  }
  
  .btn--plain {
    text-transform: initial !important;
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
    border: 0 !important;
  }
  
  .btn--plain:hover {
    transform: translateY(-4px) !important;
  }
  
  .btn--icon {
    padding: 0 !important;
  }
  
  .btn--icon:hover,
  .btn--icon:focus {
    color: var(--clr-primary);
  }
  
  .btn--icon:active {
    transform: translateY(-5px) !important;
  }
  
  @media (max-width: 600px) {
    .section {
      margin-top: 4em !important;
    }
  }

  .nav__list {
    margin-right: 1.5em !important;
    display: flex !important;
  }
  .nav__list-item {
    margin-left: 1.5em !important;
  }
  
  .app .nav__hamburger {
    display: none !important;
  }
  
  .nav__theme {
    margin-top: 0.4em !important;
  }
  
  @media (max-width: 600px) {
    .nav__list {
      display: none !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      position: fixed !important;
      inset: 0 !important;
      width: 100% !important;
      height: 100% !important;
      z-index: 2 !important;
    }
  
    .nav__list-item {
      margin: 0.5em 0 !important;
    }
  
    .app .nav__hamburger {
      display: flex !important;
      z-index: 2 !important;
      margin-left: 0.8em !important;
    }
  }

  .contact {
    flex-direction: column !important;
  }

  .skills__list {
    max-width: 450px !important;
    width: 95% !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  
  .skills__list-item {
    margin: 0.5em !important;
  }